# --- 核心框架 ---
langgraph           # 状态机编排，比单纯的 LangChain 更适合复杂逻辑
langchain           # 基础链式调用
langchain-openai    # 用于对接 OpenAI 兼容格式 (Qwen, DeepSeek 等)
langchain-community # 社区工具集成 (包含 Neo4j 封装)
langchain-neo4j

# --- 数据库驱动 ---
neo4j               # Neo4j 官方驱动

# --- 数据处理 ---
pandas              # 用于处理 PaySim CSV 数据集
python-dotenv       # 管理环境变量 (API Keys, DB Credentials)

# --- 前端展示 ---
streamlit           # 快速搭建 Web 界面
streamlit-agraph    # 专门用于在 Streamlit 中渲染图关系网络

# --- 辅助工具 ---
pydantic>=2.0       # 数据验证与 Schema 定义
typing
logging

#后端
fastapi
uvicorn